fastapi
uvicorn[standard]
pydantic
pydantic-ai
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
cloudinary
python-dotenv
google-auth
google-auth-httplib2
google-auth-oauthlib
gunicorn
email-validator
logfire
azure-identity
openai